$amarillo: #f0d911;
$verde: #1eff00;
$rojo: #b30000;
@mixin margenes($m_top, $m_bot, $p_top, $p_bot) {
    margin-top: $top;
    margin-bottom: $bottom;
    padding-top: $p_top;
    padding-bottom: $p_bot;
}

* {
    font-family: 'Gothic Century', 'Verdana', sans-serif;
}

.jumbotron>h1 {
    font-size: 70px;
    margin-top: 150px;
}

.jumbotron>h3 {
    font-size: 22px;
}

.jumbotron>p {
    margin-top: 80px;
}

#tag-nosotros,
#tag-productos,
#tag-destacado {
    width: 350px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 22px;
    margin-top: 150px;
    height: 50px;
    background-color: #353535;
    border-radius: 20px;
}

#tag-nosotros:hover,
#tag-productos:hover,
#tag-destacado:hover {
    background-color: white;
    color: black;
    transition: 0.8s;
    border-radius: 20px;
}

.row {
    margin-top: 80px;
}

.d-flex img {
    width: 200px;
    height: 200px;
}

.btn-compra {
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 10px;
}

.contenido {
    text-align: justify;
}

a.prod-tool:hover {
    text-decoration: none;
}

.contenedor {
    text-align: center;
    padding-bottom: 30px;
}

footer {
    background-color: #303030;
    bottom: 0;
    color: white;
    padding-top: 2px;
    padding-bottom: 40px;
}

footer a {
    font-family: 'Helvetica';
    font-size: 18px;
    text-decoration: none;
    color: $rojo;
}

footer a:hover {
    transition: 0.6s;
    color: blueviolet;
}

footer a:hover {
    text-decoration: none;
}

.card-prod {
    flex: 1 370px;
    padding: 5px 3px 5px 3px;
    margin-top: 10px;
}

nav.nav_bungalo {
    width: 100%;
    position: fixed;
}

button#bt-cocina,
button#bt-baño,
button#bt-pisos {
    width: 100%;
    margin-top: 20px;
    color: white;
    font-size: 20px;
}